/* global.css */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

body {
  font-family: 'Roboto', sans-serif;  
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  /* Add any other necessary styles */
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f4f4f4;
  padding: 20px;
  /* Add any other necessary styles */
}

.home{  
  width:1020px
}

@media (min-width: 640px) {
  .home-h1{
    font-size: 3.75rem;
    line-height: 1;
    --tw-text-opacity: 1;
    color: rgb(17 24 39 / var(--tw-text-opacity));
    letter-spacing: -.025em;
    font-weight: 900;
    line-height: 3.5rem;
  }
  .home-h2{
    font-size: 2.25rem;
    line-height: 2.5rem;
    letter-spacing: -.025em;
    --tw-text-opacity: 1;
    color: rgb(17 24 39 / var(--tw-text-opacity));
    font-weight: 800;
  }
  .home-text{
    font-size: 1.25rem;
    line-height: 1.75rem;
    --tw-text-opacity: 1;
    color: rgb(107 114 128 / var(--tw-text-opacity));
    line-height: 1.625;
    font-size: 1.125rem;
    margin-top: 1rem;
  }
  .home-section-container{
      padding-left: 1rem;
      padding-right: 1rem;
      max-width: 36rem;
      margin-left: auto;
      margin-right: auto; 
      height:428px     
  }
}

.header-container {
  display: flex;
  justify-content: space-between;
}

.brand-container {
  display: flex;
  align-items: center;  
}

.logo {
  height: 60px;
  margin-right: 10px; /* Adjust the margin as needed */
}

.post-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px; /* Adjust this to your preference */
}

.post-card-container {
  width: 100%;
}

.home-grid {
  width: 1366px;
  

  display: grid;
  grid-template-rows: repeat(4, auto);
  grid-template-columns: repeat(2, 1fr);
  gap: 8px;  
}

.home-stack {
  width: 1366px;

  display: grid;
  grid-template-rows: repeat(2, auto);
  grid-template-columns: 1fr;
  gap: 8px;
}
.left-rounded,
.right-rounded {
  width: 100%;
  height: 340px;
  object-fit: cover;
}

.left-rounded {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.right-rounded {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}


.right-rounded {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.home-images {
  display: flex;
  align-items: center;
}

a {
  text-decoration: none;
  color:inherit
}

.post-container {
  width: 80%;
  margin: 0 auto;
  font-family: Arial, sans-serif;
}

.post-title {
  font-size: 2.5em;
  text-align: center;
  margin-bottom: 10px;
}

.post-date {
  text-align: center;
  color: #888;
  margin-bottom: 20px;
}

.post-content {
  line-height: 1.6;
}

.post-intro {
  font-size: 1.2em;
  margin-bottom: 20px;
}

h2 {
  font-size: 1.5em;
  margin: 20px 0 10px;
}

p {
  font-size: 1.1em;
  margin-bottom: 20px;
}
